
<link href="/public/css/register.css" rel="stylesheet" type="text/css"/>

<div class="aw-register-box">
    <div class="mod-head">
        <a href="/"></a>
        <h1><strong style="color:green">{{msg}}</strong><a href="{{href}}">{{info}}</a></h1>
    </div>

    <div class="mod-footer"></div>
</div>


